:root{
	
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	
	

	
}

*,*::before, *::after{
	
	box-sizing: border-box;
	
}

body{
	
	padding: 0;
	margin: 0;
	
	
}
	

.nav-container, .ul-container, .footer-container{
	
	display:flex;
	justify-content:flex-end;
	list-style-type:none;
	

	
}


@media (width <= 600px){
	
	
	
	.nav-container, .ul-container, .footer-container{
		
		flex-direction: column;
		justify-content: center;
		align-items:center;
		
		
	}
	
	li{
		
		
		margin: 10px;
	}
	
	
	
}


.ul-container > li{
	
	margin-right: 25px;
	
	
	
}



.ul-container > li > a{
	display: block;
	text-decoration: none;
	color:black;
	border-radius: 20px;
	text-align:center;
	border:2px solid black;
	background-color: rgb(100,200,100);
	font-size: 20px;
	padding: 5px;
	height: 40px;
	width: 200px;
	transition: border-radius 0.5s;
	
}

.ul-container > li > a:hover{


	border:2px solid black;
	background-color: rgb(33,200,100);
	color:white;
	
	border-radius:0px;
	
}

.ul-container > li > a:active{


	
	background-color: rgb(33,130,33);
	color:white;
	border-radius:0px;
	
}



.header-child{
	
	display:flex;
	justify-content: center;
	
}

.header-child > h1{
	
	line-height: 30px;
	
}

.image-logo{
	
	width:64px;
	height:64px;
	
}

.welcome-container{
	
	display:flex;
	justify-content:space-between;
	align-items:center;
	text-align:center;
	
}

.welcome-container > p{
	
	width: 450px;
	
}

.line{
	
	border: 1px solid grey;
	width:100%;
	
}

.personal-info{
	
	
	margin-top:2.5rem;
	display:grid;
	grid-template-columns: repeat(2,1fr);
	
}

@media (width <= 600px){
	
	.personal-info{
		
		display:block;
		
	}
	
	section{
		
		margin: 15px;
		
	}
	
	
}




.personal-info > section{
	
	margin-left: 10px;
	border: 3px solid black;
	border-radius:10px;
	
}



.info-container > p, h3{
	
	
	margin-left: 15px;
	
}


.displayed{
	
	display:block;
	margin-left: 15px;
	margin-bottom: 20px;
	
}

.hidden{
	
	
	display:none;
	
}



.rectangle-bar{
	
	background-color: gray;
	border-radius: 20px;
	min-width : 0%;
	max-width : 100%;
	height: 15px;
	margin-right: 20px;
	
	transition: width cubic-bezier(0.13, 0.77, 0.25, 1);
}

.rectangle-bar > div{
	
	height: 15px;
	border-radius: 20px;
}

.html{
	
	width: 0%;
	
	background-color: red;
	
	animation: html 1s linear forwards;
	
}

.CSS{
	
	width: 0%;
	
	background-color: red;
	
	animation: css 1s linear forwards;
}

.JavaScript{
	
	width: 0%;
	
	background-color: red;
	
	animation: JavaScript 1s linear forwards;
}

.Java{
	
	width: 0%;
	
	background-color: red;
	
	animation: Java 1s linear forwards;
	
}


.NodeJS{
	
	width: 0%;
	
	background-color: red;
	
	animation: NodeJS 1s linear forwards;
	
}


.skill-button {
  /* Start the shake animation and make the animation last for 0.5 seconds */
 
  border-radius: 30px;
  
  background-color: lightblue;
  font-size: 1.2em;
  cursor:pointer;
  margin: 10px;
  width: 200px;
  height:40px;
  transition: border-radius 0.5s;

  /* When the animation is finished, start again */
 
}

.skill-button:hover{
	
	border-radius: 0px;
	background-color: rgb(33,133,230);
	color: white;
	
}

.skill-button:active{
	
	background-color: rgb(33,33,130);
	color: white;
	border-radius: 30px;
	
}

.rectangle{
	
	border-radius: 30px;
	
}


@keyframes html{
	
	100%{
		
		width: 35%;
		
	}
}

@keyframes css{
	
	100%{
		
		width: 25%;
		
	}
}

@keyframes JavaScript{
	
	100%{
		
		width: 42%;
		
	}
}

@keyframes Java{
	
	100%{
		
		width: 38%;
		
	}
}

@keyframes NodeJS{
	
	100%{
		
		width: 3%;
		
	}
}


.footer-container{
	
	margin-top: 2.5rem;
	height: 300px;
	background-color: rgb(230,230,230);
}

